*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
 body{
    font-family: montserrat;
}
nav{
    background: rgb(240, 10, 10);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: black;
    font-size: 30px;
    line-height: 80px;
    padding: 0 70px;
    font-weight: bold;
    text-decoration: none;
}

nav ul{
    margin-right: 20px;
    z-index: 2;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.menu a:hover{
    padding: 5px;
    background: rgb(61, 45, 45);
    transition: 0.5s;
    text-decoration: underline;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
div.titre{
    font-size: 60px;
    font-family: 'Satisfy', cursive;
    color:rgba(231, 222, 222, 0.932);
    text-shadow: 4px 4px 5px rgba(228, 141, 12, 0.966);
}
.image{
    position: relative;
    background: url(image/pexels-rachel-claire-5865282.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.image:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    position: absolute ;
    top: 0;
    left: 0;

}
h2{
    font-size: 60px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding: 20px;
}
table{
    width: 100%;
    margin: 0 auto 50px;
    max-width: 300px;
}
table tr, th {
    border: none;
    font-size: 18px;
    font-weight: bold;
    /* padding-left: 70px; */
    text-align: left;
  }
section div table tr.noir{
    color: black;
  }
section div table td.red{
    color: red
  }
/* section.horaires {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} */
.services{
    background: url(image/);
    
}

@media (max-width: 567px) {
    .logo{
        font-size: 18px;
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .image{
        padding: 50px;
    align-items: unset;
          
    }
    div.titre{
        font-size: 40px;
        /* padding: 20px;
        padding-bottom: 350px; */
    }
  
}
@media(max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: gray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    } 
    nav ul li a{
        font-size: 20px;
        color: black;
    }
    .menu a:hover{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


