* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: montserrat;
}
nav {
    background: rgb(240, 10, 10);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    align-items: center;
}
.logo {
    color: black;
    font-size: 30px;
    line-height: 1;
    padding: 0 70px;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    margin-right: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
}
nav ul li {
    display: inline-block;
    /* line-height: 80px; */
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.social-link svg path {
    fill: #fff;
}
.menu a:hover {
    padding: 5px;
    background: rgb(61, 45, 45);
    transition: 0.5s;
    text-decoration: underline;
}
.social-link a:hover {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    background: transparent;
}
.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
div.titre {
    font-size: 60px;
    font-family: "Satisfy", cursive;
    color: rgba(231, 222, 222, 0.932);
    text-shadow: 4px 4px 5px rgba(228, 141, 12, 0.966);
}
.image {
    position: relative;
    background: url(image/pexels-rachel-claire-5865282.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.image:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    position: absolute;
    top: 0;
    left: 0;
}
h2 {
    font-size: 60px;
    font-family: "Satisfy", cursive;
    text-align: center;
    padding: 20px;
}
.horaires {
    background: #fffbf7;
    padding: 20px;
}
table {
    width: 100%;
    margin: 0 auto 50px;
    max-width: 300px;
}
table tr,
th {
    border: none;
    font-size: 18px;
    font-weight: bold;
    /* padding-left: 70px; */
    text-align: left;
}
.assortiment p {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}
section div table tr.noir {
    color: black;
}
section div table td.red {
    color: red;
    text-align: right;
}

.services {
    background: url(image/pexels-tirachard-kumtanom-347139.jpg) center 80% /
        cover no-repeat;
    height: 60vh;
}
.icon {
    display: inline-block;
    text-decoration: inherit;
}
.services .services-list {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.services .services-list .icon {
    border: 3px solid rgba(223, 160, 160, 0.651);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background: #fffbf7;
    line-height: 140px;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.material-icons {
    font-family: "Material Icons";
    /* font-weight: normal; */
    /* font-style: normal; */
    font-size: 60px; /*  Preferred icon size */
    color: red;
}
.services-text {
    font-size: 20px;
    font-weight: bold;
}
table.menu-list {
    width: 100%;
    margin: 0 auto 50px;
    max-width: 800px;
    text-align-last: center;
}
.contacts_general iframe {
    width: 100%;
}



.contact_info{
    display: flex;
    width: 500px;
    background: red;
}
.info .adress{
    background: green;
    width: 100px;
}




@media (max-width: 567px) {
    .logo {
        font-size: 18px;
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .image {
        padding: 50px;
        align-items: unset;
    }
    div.titre {
        font-size: 40px;
        /* padding: 20px;
        padding-bottom: 350px; */
    }
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: gray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        display: block;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
        color: black;
    }
    .menu a:hover {
        background: none;
        color: white;
    }
    #check:checked ~ ul {
        left: 0;
    }
}